@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&family=Pacifico&display=swap');

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    color: black;
    background-color: #ffe7f4;
}
/*navbar*/
body{
    color: #ee99c9;
    background-color: #ffe7f4;
}
.navbar{
    background-color: #ee99c9;
    font-family: 'Arima', cursive;
}

.nav-item{
    text-decoration: none;
}

h1{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 32px;
    color: black;
    margin: 16px;
}
.ver-carrito{
    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;
}


.p{
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 30px;
    opacity: 0.7; 
}
/* card */

.shop-content{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    width: 90%;
    max-width: 350px;
    margin: 1rem auto;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    max-height: 700px;
    
}
.card img{
    width: 200px;
    height: 200px;
    border-top-right-radius: 10px;
}
.card-body p{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 18px;
    color: black;
    margin: 16px;
}
.titulo{
    font-family: 'Arima', cursive;
    font-size: 22px;
    font-style: normal;
    text-align: left;
    color: black;
    padding-left: 5px;
}
.precio{
    font-family: 'Arima', cursive;
    font-size: 22px;
    font-style: normal;
    text-align: center;
    color: black;
    padding-left: 5px;
}
.btn{
    text-decoration: none;
    color: black;
    padding: 6px;
    background-color: #ffc1d5;
    border-radius: 5px;
    font-family: 'Arima', cursive;
    font-size: 18px;
    cursor: pointer;
    outline: 0;
}



/* modal */
.eliminar-producto{
    cursor: pointer;
}